/* Fortune Cookie Generator Styles */

html {
    text-align: center;
    padding: 2em;
    font-family: Helvetica, sans-serif;
}

body {
  background-color: #DEC49A; /* deep beige cookie color*/
  color: #F5EEE4; /*cream*/
}

.fortune-cookie-saying-wrapper {
    border-left: 2px dashed #C9A678;/*dark beige*/
    border-right: 2px dashed #C9A678;
    padding: 1em;
    margin: 1em;
    background-color: whitesmoke; /*dingy white*/
}

#fortune-cookie-text {
  font-family: 'Alegreya', Courier, serif;
  color: #D3291D; /*dark red*/
  font-size: 18px;
}
hr {
  border-style: solid;
  border-color: whitesmoke;
}
h1 {
  font-style: italic;;

}

#previous-fortunes-container {
  text-align: left;
}

.generate-button {
  padding: 1em;
  text-align: center;
  background-color: #2AA3F8; /*vibrant sky blue*/
  border-style: none;
  color: whitesmoke;
  border-radius: 4px;
  transition: .25s ease;
}

.generate-button:hover {
  background-color: #A0D4F4; /*light sky blue*/
  border: 1px solid whitesmoke;
}
